.consulta-card {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;

  background: #fff;
  padding: 16px 20px;
  border-radius: 12px;

  box-shadow: 
    0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: #6bc000;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.consulta-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.nome {
  font-weight: 600;
  color: #27272E;
  font-size: 16px;
}

.hora-consulta {
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.consulta-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-container {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  color: #6b7280;
}

.menu-icon:hover {
  color: #111827;
}

.menu-dropdown {
  position: absolute;
  width: 158px;
  right: 0;
  top: 28px;

  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 10;
}

.menu-item {
  padding: 8px 12px;
  color: #425466;
  cursor: pointer;
  font-size: 14px;
}

.menu-item:hover {
  background: #f3f4f6;
}

.consulta-card.clicavel {
  cursor: pointer;
}

.consulta-card.clicavel:hover {
  background: #f3f3f3;
}