.pacientes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.pacientes-header h1 {
    margin: 0;
    font-size: 28px;
    color: #1F2D3D;
}

.pacientes-header p {
  font-size: 16px;
  color: #6b7280;
}

.tabela-container {
  background: #fff;
  border-radius: 16px;
  padding: 20px 30px;

  box-shadow: 
        0px 0px 1px rgba(12, 26, 75, 0.24),
        0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

.tabela th {
  text-align: left;
  font-size: 16px;
  color: #1F2D3D;
  padding-bottom: 16px;
}

.tabela td {
  padding: 12px 0;
  font-size: 16px;
  color: #425466;
  border-top: 1px solid #eee;
}

.acoes {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.icon-view {
  color: #4CAFD0; 
  cursor: pointer;
  transition: 0.2s;
}

.icon-view:hover {
  color: #8DEDF7;
}

.icon-edit {
  color: #D46A51;
  cursor: pointer;
  transition: 0.2s;
}

.icon-edit:hover {
  color: #FAB592;
}

.empty-message {
  text-align: center;
  padding: 30px;
  color: #425466;
  font-size: 16px;
}

.empty-row {
  height: 140px;
}

.empty-row td {
  border-top: none;
}

.busca-wrapper {
  display: flex;
  gap: 16px;
  align-items: flex-end;

  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;

  background: #fff;

  box-shadow:
    0 0 1px rgba(12, 26, 75, 0.24),
    0 3px 8px -1px rgba(50, 50, 71, 0.05);
  margin-bottom: 20px;
}

.icon-prontuario {
  color: #6CB40C;
  cursor: pointer;
  transition: 0.2s;
}

.icon-prontuario:hover {
  color: rgb(192, 255, 90);
}

.icon-historico {
  color: #7c3aed;
  cursor: pointer;
  transition: 0.2s;
}

.icon-historico:hover {
  color: #af80ff;
}