.relatorio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.relatorio-header h1 {
  margin: 0;
  font-size: 28px;
  color: #1F2D3D;
}

.relatorio-header p {
  font-size: 16px;
  color: #6b7280;
}

.btn-voltar {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;

  background: transparent;
  border: none;

  color: #DB6A92;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;

  margin-bottom: 10px;
}

.btn-voltar:hover {
  text-decoration: underline;
}

.filtros-container {
  display: flex;
  gap: 16px;
  align-items: flex-end;

  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;

  background: #fff;

  box-shadow:
    0 0 1px rgba(12, 26, 75, 0.24),
    0 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.tabela-container {
  background: #fff;
  border-radius: 16px;
  padding: 20px 30px;

  box-shadow:
    0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.tabela-topo {
  margin-bottom: 20px;
}

.tabela-topo strong {
  font-size: 18px;
  color: #27272E;
}

.total-valor {
  color: #16a34a;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

.tabela th {
  text-align: left;
  font-size: 16px;
  color: #1F2D3D;
  padding-bottom: 16px;
}

.tabela td {
  padding: 12px 0;
  font-size: 16px;
  color: #425466;
  border-top: 1px solid #eee;
}

.tabela tbody tr:hover {
  background-color: #f5f5f5;
}

.empty-message {
  text-align: center;
  padding: 30px;
  color: #425466;
  font-size: 16px;
}

.empty-row {
  height: 140px;
}

.empty-row td {
  border-top: none;
}