.historico-card {
  background: #fff;
  border-radius: 16px;
  padding: 16px;

  box-shadow:
    0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);

  grid-column: 1 / -1;
}

.historico-card.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #425466;
  height: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.btn-ocultas {
  background: transparent;
  border: none;

  color: #DB6A92;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
}

.btn-ocultas:hover {
  text-decoration: underline;
}

.card-titulo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 16px;
  font-weight: 600;
  color: #1F2D3D;
}

.card-titulo svg {
  color: #A0AEC0;
}